Package: ubuntu-ce-welcome
Version: 0.0.5
Section: system
Priority: optional
Architecture: all
Maintainer: Jereme Hancock <support@ubuntuce.com>
Installed-Size: 1300
Depends: gambas3-runtime, gambas3-gb-gtk, gambas3-gb-gui, gambas3-gb-form, hostminder, dnsminder
Description: Welcome to UbuntuCE
