[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=UbuntuCE Welcome
Comment=Welcome to UbuntuCE
Exec=ubuntu-ce-welcome
Icon=ubuntu-ce-welcome.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;System;Settings;
Name[en_US]=UbuntuCE Welcome
