Package: ubuntu-ce-welcome
Version: 0.0.1
Section: system
Priority: optional
Architecture: all
Maintainer: Jereme Hancock <support@ubuntuce.com>
Depends: gambas3-runtime, gambas3-gb-gtk, gambas3-gb-gui, gambase-gb-form, hostminder
Description: Welcome to UbuntuCE
